NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://postgres.zogaeaiwuemkplkprltw:pulsedesk123@@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

BCRYPT_SALT_ROUNDS=12

JWT_ACCESS_SECRET=change-this-access-secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change-this-refresh-secret
JWT_REFRESH_EXPIRES_IN=30d

CLIENT_URL=http://localhost:3000
